.card {
    left: 50px;
    display: flex;
    max-width: 250px;
    height: 400px;
    flex-direction: column;
    row-gap: 20px;
    border: black 1px solid;
    background-color: #1A1B22;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: #E6E6E9;
}

.card:hover{
    background-color: #202335;
}

.image {
    padding: 5px;
    background-color: rgba(68, 63, 84, 0.421);
    height: 50%;
    display: flex;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    row-gap: 10px;
    justify-self: end;
    height: 50%;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.title {
    font-size: 14px;
    margin: 0px;
}

.itemName h3 {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp:inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    overflow: hidden;
}

.description p {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp:inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #9C9CA6;
}

.purchaseBlock {
    display: flex;
    justify-content: space-between;
}

.purchaseBlock h3 {
    font-size: 14px;
    margin: 0px;
}

.purchaseInfoBlock {
    display: flex;
    flex-direction: column;
    position: relative;
}

.purchaseInfoBlock span {
    font-size: 10px;
    padding-left: 15px;
    font-weight: 100;
    color: #9C9CA6;
}

.iconStar {
    position: absolute;
    top: 23px;
}

.purchaseButton {
    font-size: 10px;
    height: 25px;
    padding-inline: 20px;
    align-self: end;
    background-color: #5C6BC0;
    border: none;
    border-radius: 5px;
}

.purchaseButton:hover {
    background-color: #55577d; /* disabled */
    background-color: #43bad2;
}