.backToTap {
    position: relative;
    margin-left: 60px;
}

.backToIcon {
    position: absolute;
    top: 2px;
    left: -29px;
}

.product {
    display: flex;
    column-gap: 30px;
    padding: 40px;
    justify-content: space-between;
    height: 75vh;
}
.product span{
    font-size: 12px;
    font-weight: 100;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 63, 84, 0.421);
    border-radius: 8px;
    width: 50%;
    max-width: 50%;
    height: 100px;
    height: 100%;
}

.img img {
    width: 50%;
}

.moreInfoBlock {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    background-color: azure;
    max-width: 50%;
    height: 100%;
    border-radius: 8px;
    padding: 30px 20px 20px 20px;
    background-color: #1A1B22;
}

.moreInfoBlock h2 {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.raitingBlock{
    position: relative;
    padding-left: 30px;
}
.raitingBlock .raiting{
    font-weight: 500;
    font-size: 16px;
}
.raitingBlock img{
    position: absolute;
    left: 3px;
    top: 2px;
}

.categoryBlock{
    display: flex;
    flex-direction: column;
}

.product .categoryValue {
      font-size: 17px;
    font-weight: 500;
}

.priceBlock{
    display: flex;
    flex-direction: column;
}

.priceBlock .price{
    font-size: 20px;
    font-weight: 800;
    color:#8ce4ff
}
.descriptionBlock{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.descriptionBlock .description{
    font-weight: 500;
}

.purchaseBlock{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    row-gap: 20px;
}

.quantityBlock{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.quantityButtonBlock{
    display: flex;
    column-gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding-block: 2px;
}

.decreaseButton,
.increaseButton{
    background-color: inherit;
    border: none;
    color: aqua;
    border-radius: 5px;
    width: 50px;
}
.decreaseButton:hover{
    background-color: #cc5555;
}
.increaseButton:hover{
    background-color: #4fa878;
}

.addBtn button{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #5C6BC0;
}