.backToTap {
    position: relative;
    margin-left: 60px;
}

.backToIcon {
    position: absolute;
    top: 2px;
    left: -29px;
}

.product {
    display: flex;
    column-gap: 30px;
    padding: 40px;
    justify-content: space-between;
    height: 70vh;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 63, 84, 0.421);
    border-radius: 8px;
    width: 50%;
    max-width: 50%;
    height: 100px;
    height: 100%;
}

.img img {
    width: 50%;
}

.moreInfoBlock {
    background-color: azure;
    max-width: 50%;
    height: 100%;
    border-radius: 8px;
    padding: 30px 20px 20px 20px;
    background-color: #1A1B22;
}

.moreInfoBlock h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product span{
}