.container {
  display: flex;
  column-gap: 20px;
  padding: 40px 20px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-lg);
  height: 220px;
}

.image {
  display: flex;
  width: 120px;
  flex-shrink: 0;
  padding: 20px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-lg);
  align-items: center;
  justify-content: center;
}
.image img {
  width: 70%;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-weight: 500;
  font-size: 16px;
}

.priceBlock {
  flex-direction: column;
  row-gap: 10px;
}

.totalPurchase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  width: 65px;
}
.totalPurchase span {
  font-weight: 800;
  font-size: 16px;
}

.trashBin {
  width: 40px;
  padding: 5px;
  background-color: #e26d6d;
  border-radius: var(--border-radius-sm);
  border: none;
  transition: background-color 0.2s ease;
}
.trashBin:hover {
  background-color: #cc5555;
}
.trashBin:disabled {
  background-color: #58605f;
  cursor: not-allowed;
}

@media (max-width: 900px) {
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .image {
    width: 100px;
  }
}
