.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    padding: 10px 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    background-color: #1A1B22;
}